
/*============
リセット
=============*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-weight: normal;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
}
*,*::after,*::before {
	box-sizing: border-box;
	box-sizing: border-box;
	word-wrap: break-word;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	font-weight: normal;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a {
	text-decoration: none;
}
*,*::after,*::before {
	box-sizing: border-box;
	box-sizing: border-box;
	word-wrap: break-word;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

/*============
ここからheader
=============*/
header {
  height: 270px;
	width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.header-left {
  font-weight: bold;
  font-size: 2rem;
}
.header-right {

}
.header-right ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.header-right ul li {
  font-size: 0.9rem;
  margin-left: 30px;
  color: black;
}
.header-right ul li a{
  color: black;
}
.icon {
  height: 20px;
  width: 20px;
}

.top-image {
  margin-bottom: 80px;
}

.top-image img {
  height: 420px;
  width: 100%;
}
.container {
	display: block;
}

.contents {
	text-align: center;
	max-width: 100%;
}
.contents h2 {
  font-size: 1.5rem;
	font-weight: bold;
  margin-bottom: 65px;
	display: block;
}
.about {
	margin: 0 auto 130px auto;
	max-width: 960px;
  font-size: 0.9rem;
  padding: 0 4%;
}

.about_text {
	display: inline-block;
	text-align: left;
	font-size: 0.9rem;
}

.about_text ul {
	margin: 30px 0;
}

.works {
	margin: 0 auto 130px auto;
	max-width: 960px;
  font-size: 0.9rem;
  padding: 0 4%;
}

.works_photo {
	display: flex;
	justify-content:space-between;
	flex-wrap: wrap;
}
.works_photo img {
	width: 31%;
	padding-bottom: 23px;
	margin: 0 auto;
}

.news {
	margin: 0 auto 130px auto;
	max-width: 960px;
  font-size: 0.9rem;
  padding: 0 4%;
}

.news_topix {
	display: flex;
	flex-wrap: wrap;
}

.news_topix{
	border-top: solid 1px #c8c8c8;
}

.news_topix dt {
	width: 20%;
	padding: 15px;
	border-bottom: solid 1px #c8c8c8;
	text-align: left;
}

.news_topix dd {
	width: 80%;
	padding: 15px;
	border-bottom: solid 1px #c8c8c8;
	text-align:left;

}

.contact {
	display: block;
	margin: 0 auto 130px auto;
	max-width: 960px;
  font-size: 0.9rem;
  padding: 0 4%;
}

.contact dl {
	display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.contact dt {
	width: 15%;
}

.contact dd {
	width: 85%;
	margin-bottom: 10px;
}

.contact dd input {
	width: 100%;
	border: solid 1px #c8c8c8;
  padding: 10px;
}

.contact dd textarea {
	width: 100%;
	border: solid 1px #c8c8c8;
	padding: 10px;
	height: 10rem;
}

.button input {
	text-align: center;
	width: 200px;
	background-color: #24292e;
	color: #fff;
	padding: 15px 0;
	border: solid 1px #24292e;
	cursor: pointer;
}

.button input:hover {
	background-color: #fff;
	color: #24292e;
}

footer p {
	display: block;
	text-align:center;
	background-color: #24292e;
	color: #fff;
	font-size: 0.5rem;
	padding: 10px 20px;
}
